@model ProductMicroservice.Core.Model.Carts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carts</h4>
    @if (ViewBag.Products != null)
    {
        foreach (var product in ViewBag.Products)
        {
            <hr />
            <dl class="dl-horizontal">
                <dd>
                    @product.Name
                </dd>
            </dl>
        }
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
